
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>andromeda</title>

    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/local.css" />

    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />

    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
		makePressure6hr();
		makePressure24hr();
		makePressure7day();
		makebt7day();
		makebt24hr();
		makebt6hr();
		makeot6hr();
		makeot24hr();
		makeot7day();
	});
	function makeot24hr() {
                var dataVar = [{% for row in ot24hr %}{{ row.temp }},{% endfor %}];
                var datesVar = [{% for row in ot24hr %}"{{ row.date }}",{% endfor %}];
                $("#ot-24-hr").highcharts({
                title: {
                        text: ""
                },
                xAxis: {
                        categories: datesVar,
                                labels: {
                                        staggerLines: 5,
                                        enabled: false
                                },
                                tickInterval: 3600 * 1000
                },
                yAxis: {
                        title: {
                                text: "Temperature (F)"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                series: [{
                        name: 'Temperature',
                        data: dataVar
                }]
                });
        };
	function makeot7day() {
                var dataVar = [{% for row in ot7day %}{{ row.temp }},{% endfor %}];
                var datesVar = [{% for row in ot7day %}"{{ row.date }}",{% endfor %}];
                $("#ot-7-day").highcharts({
                title: {
                        text: ""
                },
                xAxis: {
                        categories: datesVar,
                                labels: {
                                        staggerLines: 5,
                                        enabled: false
                                },
                                tickInterval: 3600 * 1000
                },
                yAxis: {
                        title: {
                                text: "Temperature (F)"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                series: [{
                        name: 'Temperature',
                        data: dataVar
                }]
                });
        };
	function makeot6hr() {
                var dataVar = [{% for row in ot6hr %}{{ row.temp }},{% endfor %}];
                var datesVar = [{% for row in ot6hr %}"{{ row.date }}",{% endfor %}];
                $("#ot-6-hr").highcharts({
                title: {
                        text: ""
                },
                xAxis: {
                        categories: datesVar,
                                labels: {
                                        staggerLines: 5,
                                        enabled: false
                                }
                },
                yAxis: {
                        title: {
                                text: "Temperature (F)"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                series: [{
                        name: 'Temperature',
                        data: dataVar
                }]
                });
        };
	function makebt7day() {
                var dataVar = [{% for row in bt7day %}{{ row.temp }},{% endfor %}];
                var datesVar = [{% for row in bt7day %}"{{ row.date }}",{% endfor %}];
                $("#bt-7-day").highcharts({
                title: {
                        text: ""
                },
                xAxis: {
                        categories: datesVar,
                                labels: {
                                        staggerLines: 5,
                                        enabled: false
                                },
				tickInterval: 3600 * 1000
                },
                yAxis: {
                        title: {
                                text: "Temperature (F)"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                series: [{
                        name: 'Temperature',
                        data: dataVar
                }]
                });
        };
	function makebt24hr() {
                var dataVar = [{% for row in bt24hr %}{{ row.temp }},{% endfor %}];
                var datesVar = [{% for row in bt24hr %}"{{ row.date }}",{% endfor %}];
                $("#bt-24-hr").highcharts({
                title: {
                        text: ""
                },
                xAxis: {
                        categories: datesVar,
                                labels: {
                                        staggerLines: 5,
                                        enabled: false
                                },
				tickInterval: 3600 * 1000
                },
                yAxis: {
                        title: {
                                text: "Temperature (F)"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                series: [{
                        name: 'Temperature',
                        data: dataVar
                }]
                });
        };
	function makebt6hr() {
                var dataVar = [{% for row in bt6hr %}{{ row.temp }},{% endfor %}];
                var datesVar = [{% for row in bt6hr %}"{{ row.date }}",{% endfor %}];
                $("#bt-6-hr").highcharts({
                title: {
                        text: ""
                },
                xAxis: {
                        categories: datesVar,
                                labels: {
                                        staggerLines: 5,
                                        enabled: false
                                }
                },
                yAxis: {
                        title: {
                                text: "Temperature (F)"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                series: [{
                        name: 'Temperature',
                        data: dataVar
                }]
                });
        };	
	function makePressure6hr() {
		var dataVar = [{% for row in pressure6hr %}{{ row.pressure }},{% endfor %}];
                var datesVar = [{% for row in pressure6hr %}"{{ row.date }}",{% endfor %}];
		$("#pressure-6-hr").highcharts({		
		title: {
			text: ""
		},
		xAxis: {
			categories: datesVar,
				labels: {
					staggerLines: 5,
					enabled: false
				}
		},
		yAxis: {
			title: {
				text: "Pressure (mPa)"
			},
			plotLines: [{
                	    value: 0,
               		    width: 1,
            	            color: '#808080'
                	}]
            	},
		series: [{
			name: 'Pressure',
			data: dataVar
		}]
		});
	};
	function makePressure24hr() {
		var dataVar = [{% for row in pressure24hr %}{{ row.pressure }},{% endfor %}];
		var datesVar = [{% for row in pressure24hr %}"{{ row.date }}",{% endfor %}];
		$("#pressure-24-hr").highcharts({
                title: {
                        text: ""
                },
                xAxis: {
                        categories: datesVar,
                                labels: {
                                        staggerLines: 5,
                                        enabled: false
                                },
				tickInterval: 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 60 * 3600 * 1000
                },
                yAxis: {
                        title: {
                                text: "Pressure (mPa)"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                series: [{
                        name: 'Pressure',
                        data: dataVar
                }]
                });

	};
	function makePressure7day() {
                var dataVar = [{% for row in pressure7day %}{{ row.pressure }},{% endfor %}];
                var datesVar = [{% for row in pressure7day %}"{{ row.date }}",{% endfor %}];
                $("#pressure-7-day").highcharts({
                title: {
                        text: ""
                },
                xAxis: {
                        categories: datesVar,
                                labels: {
                                        staggerLines: 5,
                                        enabled: false
                                },
                                tickInterval: 3600 * 1000
                },
                yAxis: {
                        title: {
                                text: "Pressure (mPa)"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                series: [{
                        name: 'Pressure',
                        data: dataVar
                }]
                });

        };

    </script>
    <style>
	hr {
		margin-top:5px;
		margin-bottom:5px;
	}
    </style>
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static',filename='js/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/modules/exporting.js') }}"></script>
    <script type="text/javascript" src="/static/js/themes/dark-unica.js"></script>
    <div id="wrapper">

          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">andromeda</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li><a href="/dashboard"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li class="selected"><a href="/graphs"><i class="glyphicon glyphicon-stats"></i> Graphs</a></li>
		    <li><a href="/utils/outliers"><i class="glyphicon glyphicon glyphicon-minus"></i> Remove Outliers</a></li>
		    <li><a href="https://andromeda.pettitservers.com:8080/nagios3"><i class="glyphicon glyphicon-eye-open"></i> Nagios</a></li>
		    <li><a href="https://jpet.us/rc"><i class="glyphicon glyphicon-envelope"></i> Webmail</a></li>
		    <li><a href="https://jpet.us/oc"><i class="glyphicon glyphicon-cloud"></i> ownCloud</a></li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="row">
		<div class="col-lg-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Pressure - 6 Hour</h3>
				</div>
				<div id="pressure-6-hr"></div>
			</div>
		</div>
		<div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="panel-title">Pressure - 24 Hour</h3>
                                </div>
                                <div id="pressure-24-hr"></div>
                        </div>
                </div>
		<div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="panel-title">Pressure - 7 Days</h3>
                                </div>
                                <div id="pressure-7-day"></div>
                        </div>
                </div>
	</div>
	<div class="row">
                <div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="panel-title">Outside Temperature - 6 Hour</h3>
                                </div>
                                <div id="ot-6-hr"></div>
                        </div>
                </div>
                <div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="panel-title">Outside Temperature - 24 Hour</h3>
                                </div>
                                <div id="ot-24-hr"></div>
                        </div>
                </div>
                <div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="panel-title">Outside Temperature - 7 Days</h3>
                                </div>
                                <div id="ot-7-day"></div>
                        </div>
                </div>
        </div>
		<div class="row">
                <div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="panel-title">Bedroom Temperature - 6 Hour</h3>
                                </div>
                                <div id="bt-6-hr"></div>
                        </div>
                </div>
                <div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="panel-title">Bedroom Temperature - 24 Hour</h3>
                                </div>
                                <div id="bt-24-hr"></div>
                        </div>
                </div>
                <div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="panel-title">Bedroom Temperature - 7 Days</h3>
                                </div>
                                <div id="bt-7-day"></div>
                        </div>
                </div>
	    </div>
        </div>

    </div>
    <!-- /#wrapper -->
</body>
</html>
